
*.xcuserstate

*.xcexplist

*.xcbkptlist

*.xcscheme

DevBy.xcodeproj/xcuserdata/Admin.xcuserdatad/xcschemes/xcschememanagement.plist

DevBy/DevBy-Info.plist

DevBy/Images.xcassets/devLogo.imageset/Contents.json
